.container {
    width: 40rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        margin: 1em 0px;
    }
}

.title {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.montreal {
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 84.4%;
    left: calc(50% + 300px / 1.1826 * 0.35);
}

.contact-links {
    display: flex;
}

.contact-link {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.contact-logo {
    margin-right: 0.5em;
}
