.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    row-gap: 1em;
    align-content: center;
    background: var(--background-color);
}

.montreal {
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 84.4%;
    left: calc(50% + 300px / 1.1826 * 0.35);
}

.contactLinks {
    display: flex;
    flex-wrap: wrap;
}

.contactLink {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.contactLogo {
    margin-right: 0.5em;
}

@media (min-width: 800px) {
    .container {
        width: 40rem;
    }
}
