.container {
    width: calc(100vw - 6.5rem);
    padding-left: 2.5rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.title {
    font-weight: 700;
    font-size: 6em;
    line-height: 1em;
    margin-bottom: 0.2em;
}

.subtitle {
    font-size: 3em;
}

.action {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.arrow {
    vertical-align: bottom;
    margin-left: calc(0.5em + 0.2em);
    margin-right: 0.2em;
    position: relative;
    animation: arrow-movement 1s cubic-bezier(0.36, 0.11, 0.65, 0.93) alternate
        infinite;
}

@keyframes arrow-movement {
    $movement-amt: 0.1em;

    from {
        left: -$movement-amt;
    }

    to {
        left: $movement-amt;
    }
}

@media (max-width: 799px) {
    .container {
        width: unset;
        height: calc(100vh - 4rem);
    }

    .action {
        display: none;
    }
}
