.container {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--background-color);
}

.content {
    height: 70%;
}

@media (min-width: 800px) {
    .title {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
}
