.container {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-right: 400px;
}

.topPart {
    height: 100%;
    display: flex;
    align-items: center;
}

.workCards {
    position: absolute;
    left: 0px;
    height: 85%;
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    align-items: stretch;
    justify-content: left;
}

.section {
    width: 300px;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-rows: 1fr min-content;
}

.hints {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2px;
}

.hint {
    width: 300px;
    text-align: center;
    background: var(--foreground-color);
    color: var(--background-color);
    opacity: 0.5;
    transition: opacity 0.5s;

    &.highlighted {
        opacity: 1;
    }
}
