.container {
    background: var(--foreground-color);
    width: 64px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    transition: width 0.5s;

    &.expanded {
        width: calc(64px + (100vw - 30rem));
    }
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.title {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--background-color);
    padding: 1rem 0.5rem;
}

.content {
    width: calc(100vw - 30rem);
}
