*.lfs.* filter=lfs diff=lfs merge=lfs -text
public/demos/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
public/demos/**/*.mov filter=lfs diff=lfs merge=lfs -text
public/demos/**/*.webm filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
