.container {
    height: 100%;
    display: flex;
    align-items: stretch;
}

.titleContainer {
    padding: 1rem 0.5rem;
    background: var(--foreground-color);
}

.title {
    font-weight: 400;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--background-color);
    text-align: end;
}

.image {
    width: 200px;
    border: 2px solid var(--foreground-color);
    border-left: none;
}
