.container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.title {
    font: 70px 'new-spirit';
    text-align: center;
    letter-spacing: 0.06em;
}

.input {
    position: absolute;
    width: 100%;
    background: transparent;
    border: none;
    padding: 0px;
    outline: none;
    color: white;

    &::selection {
        background: transparent;
    }
}

.display {
    pointer-events: none;
    position: relative;
    z-index: 2;
    user-select: none;
}

.info-text {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    opacity: 0.5;
    user-select: none;
}
