.container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.title {
    font: 4rem 'new-spirit';
    text-align: center;
    letter-spacing: 0.07em;
    word-break: break-all;
    white-space: pre-wrap;
}

.input {
    background: transparent;
    border: none;
    padding: 0px;
    outline: none;
    color: transparent;
    position: absolute;
    resize: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &::selection {
        background: transparent;
    }
}

.display {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2rem);
    overflow: clip;

    span {
        position: relative;
        z-index: 2;
        pointer-events: none;
        user-select: none;
    }
}

.info-text {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    opacity: 0.5;
    user-select: none;
    margin-bottom: 1rem;
    text-align: center;
}
